<<<<<<< HEAD
<<<<<<< HEAD
#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8.uagb-section__wrap{padding-top: 0;padding-bottom: 15px;padding-left: 50px;padding-right: 20px;margin-left: auto;margin-top: -100px;max-width: 900px;}#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__video-wrap{opacity: 0.5;}#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__inner-wrap{max-width: 100%;}#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__overlay{background-color: #313131;}#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-heading-text{text-align: left;color: #ffffff;margin-bottom: 15px;}#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-separator-wrap{text-align: left;}#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-desc-text{text-align: left;font-size: 0;}#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-separator{border-top-style: solid;border-top-width: 0;margin-bottom: 15px;}
=======
=======
>>>>>>> fbed629bdba29814e9df575ec4e57155392406c6
#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8.uagb-section__wrap {padding-top: 0;padding-bottom: 15px;padding-left: 50px;padding-right: 20px;margin-left: auto;margin-top: -100px;max-width: 900px;}
#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__video-wrap {opacity: .5;}
#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__inner-wrap {max-width: 100%;}
#uagb-section-a2d30912-c9ed-4b5e-8201-f07999938ca8 > .uagb-section__overlay {background-color: #313131;}
#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-heading-text {text-align: left;color: #fff;margin-bottom: 15px;}
#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-separator-wrap {text-align: left;}
#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-desc-text {text-align: left;font-size: 0;}
<<<<<<< HEAD
#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-separator {border-top-style: solid;border-top-width: 0;margin-bottom: 15px;}
>>>>>>> fbed629bdba29814e9df575ec4e57155392406c6
=======
#uagb-adv-heading-af45342e-90c6-4d7c-810c-c0c22eb17b79 .uagb-separator {border-top-style: solid;border-top-width: 0;margin-bottom: 15px;}
>>>>>>> fbed629bdba29814e9df575ec4e57155392406c6
